<div class="text">
  <h1>Pipe Decimal y Porcentaje</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>
</div>  

<div class="grid">
  <div pRipple class="col-4">
    <p-card 
      header="Ventas Netas"
      subheader="Del presente Año">

      <p>ventasNetas|number <i class="pi pi-arrow-right"></i> <i class="pi pi-dollar"></i>{{ventasNetas | number}}</p>
      <p>ventasNetas|number:'1.2-2' <i class="pi pi-arrow-right"> </i><i class="pi pi-dollar"></i>{{ventasNetas | number:'1.2-2'}}</p>
      <p>ventasNetas|number:'1.7-10'<i class="pi pi-arrow-right"> </i> <i class="pi pi-dollar"></i>{{ventasNetas | number:'1.7-10'}}</p>
    </p-card>
  </div>

  <div pRipple class="col-4">
    <p-card 
      header="Ventas Brutas"
      subheader="Del presente Año">

      <p>{{ (ventasNetas + 2000000) | currency:'USD':'symbol-narrow':'1.4-4' }}</p>
    </p-card>
  </div>

  <div pRipple class="col-4">
    <p-card 
      header="Ganancia porcentual"
      subheader="Del presente Año">

      <p>{{porcentaje | percent:'2.2-2'}}</p>
    </p-card>
  </div>
</div>
