<div class="text">
  <h1>Pipes Basicos</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>
</div>
<div class="grid">
  <div pRipple class="col-4">
    <p-card 
      [header]="'uppercase'|uppercase"
      [subheader]="nombreLower">
      <p class="m-0">
          {{nombreLower | uppercase}}
      </p>
    </p-card>
  </div>
  <div pRipple class="col-4">
    <p-card 
      [header]="'LowerCase' | lowercase"
      [subheader]="nombreUpper">
      <p class="m-0">
        {{nombreUpper | lowercase}}
      </p>
    </p-card>
  </div>
  <div pRipple class="col-4">
    <p-card 
      header="TitleCase"
      [subheader]="nombreCompleto">
      <p class="m-0">
        {{nombreCompleto | titlecase}}
      </p>
    </p-card>
  </div>
</div>

<div class="text-layout">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    Pipes para mostrar las fechas.
  </p>
</div>


<div class="grid">
  <div pRipple class="col-6">
    <p-card>
      <ul>
        <li><strong>Options</strong></li>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date:'short' </li>
        <li>fecha | date:'medium' </li>
        <li>fecha | date:'long' </li>
        <li>fecha | date:'full' </li>
        <li>fecha | date:'shortDate' </li>
        <li>fecha | date:'mediumDate' </li>
        <li>fecha | date:'longDate' </li>
        <li>fecha | date:'fullDate' </li>
        <li>fecha | date:'shortTime' </li>
        <li>fecha | date:'mediumTime' </li>
        <li>fecha | date:'longTime' </li>
        <li>fecha | date:'fullTime' </li>
        <li>fecha | date:'Custom -> GG, dd/LLL/yyyy H:mm a' </li>
      </ul>
      <hr>
      <ul>
        <li><strong>Customs</strong></li>
        <li>fecha | date:'long':'GMT-6'</li>
        <li>fecha | date:'long':'GMT-4'</li>
        <li>fecha | date:'long':'':'es-ec'</li>
        <li>fecha | date:'long':'':'en'</li>
        <li>fecha | date:'long':'':'fr'</li>
      </ul>
    </p-card>
  </div>
  
  <div pRipple class="col-6">
    <p-card>
      <ul>
        <li><strong>Options</strong></li>
        <li>{{fecha  }}</li>
        <li>{{fecha | date }}</li>
        <li>{{fecha | date:'short' }}</li>
        <li>{{fecha | date:'medium' }}</li>
        <li>{{fecha | date:'long' }}</li>
        <li>{{fecha | date:'full' }}</li>
        <li>{{fecha | date:'shortDate' }}</li>
        <li>{{fecha | date:'mediumDate' }}</li>
        <li>{{fecha | date:'longDate' }}</li>
        <li>{{fecha | date:'fullDate' }}</li>
        <li>{{fecha | date:'shortTime' }}</li>
        <li>{{fecha | date:'mediumTime' }}</li>
        <li>{{fecha | date:'longTime' }}</li>
        <li>{{fecha | date:'fullTime' }}</li>
        <li>{{fecha | date:'GG, dd/LLL/yyyy H:mm a' }}</li>
      </ul>
      <hr>
      <ul>
        <li><strong>Customs</strong></li>
        <li>{{fecha | date:'long':'GMT-6'}}</li>
        <li>{{fecha | date:'long':'GMT-4'}}</li>
        <li>{{fecha | date:'long':'':'es-ec'}}</li>
        <li>{{fecha | date:'long':'':'en'}}</li>
        <li>{{fecha | date:'long':'':'fr'}}</li>
      </ul>
    </p-card>
  </div>
</div>
