<div class="text">
  <h1>Pipe no tan comunes</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module.
  </p>
</div>  

<div class="grid">
  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="i18Select Pipe" [toggleable]="true">
      <p class="m-0">
          Saludos {{nombre}}, es un placer 
          {{ genero | i18nSelect:invitacionMap}}
          a nuestro evento.
      </p>
      <button pButton pRipple label="Cambiar persona" 
      (click)="cambioPersona()"
      class="p-button-help mt-3"></button>
    </p-fieldset>
  </div>

  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p class="m-0">
          Actualmente {{clientes.length | i18nPlural: clientesMap }}
      </p>
      <button pButton pRipple label="Borrar Cliente"
      (click)="dropClientes()"
      class="p-button-danger mt-3"></button>
    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clientes }}</pre>
      
      <b>slice: 0:2</b>
      <pre>{{ clientes | slice:0:2}}</pre>
      
      <b>slice: 1:2</b>
      <pre>{{ clientes | slice:1:2}}</pre>

      <b>slice: 1:3</b>
      <pre>{{ clientes | slice:1:3}}</pre>
    </p-fieldset>
  </div>

  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{creatura|json}}</pre>
    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          {{ item.key }} : {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col col-md-6 col-sm-12">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>Usando un Observable: {{ miObservabol | async }}</pre>
      <pre *ngIf="!(valorPromesa | async)">Resolviendo Promesa</pre>
      <pre>Usando una promesa: {{ valorPromesa | async }}</pre>
    </p-fieldset>
  </div>
</div>