/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body{
  margin: 10px;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
}

text {
  color: var(--text-color);
}